{% extends 'base.html' %}

{% block content %}

<div class="col-md-offset-10" style="margin-top: 16rem;">
	<a href="/problems/">
		<button class="btn btn-success" style="font-family:monospace">VIEW CHALLENGES >> </button>
	</a>
</div>
<div class="col-md-offset-10" style="margin-top: 2rem;">
	<a href="/upload/">
		<button class="btn btn-success" style="font-family:monospace">UPLOAD FILES >> </button>
	</a>
</div>
<!-- <div class="col-md-offset-10" style="margin-top: 2rem;">
	<a href="/downloads/">
		<button class="btn btn-success" style="font-family:monospace">DOWNLOADS >> </button>
	</a>
</div> -->
{% endblock %}